
<div class="reportSection tableContainer">
    <h4>Benthic Diversity</h4>
    <table>
      <thead>
        <tr>
          <td>Diversity of Benthic Habitat</td>
          <td>Percent within Sketched Area</td>
          <td>Percent of Total Habitats in EEZ</td>
        </tr>
      </thead>
      <tbody>
        {{#benthic_diversity}}
          <tr>
            <td>{{CAT}}</td>
            <td>{{SK_PERC}}</td>
            <td>{{EEZ_PERC}}</td>
          </tr>
        {{/benthic_diversity}}
    </table>
 </div>

 <div class="reportSection">
    <h4>Fishing Effort</h4>
    <p>
      The area of interest captures <strong>{{fishing_effort_perc.PERC}}%</strong> of the total fishing effort in the region.
    </p>
 </div>


